@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hola! Hola!</title></title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="MyStyles.css" type="text/css"media="screen" />

    </head>
    <body>        
        <div id="page_header">
            <div id="corp_logo">
                <p>Do what you do - better!</p>
            </div>
            <div id="page_menu">
                <ul>
                    <!-- <li><a href="home.htm">Home</a></li> -->
                    <li><a href="home.cshtml">Home</a></li>
                    <li><a href="services.htm">Services</a></li>
                    <li><a href="history.htm">History</a></li>
                    <li><a href="contact.htm">Contact</a></li>
                </ul>
            </div>
        </div>
        <div id="page_body">
            <br/>
            <p style="font-size: 24px;">BYFS can help you build better solutions, 
                        create marketing momentum, and grow leadership faster</p>
            <div id="picture_frame">
                <p>Technology Consulting: Helping you get there</p>
                <img src="images/consulting.jpg" alt="Consulting" />
            </div>
            <div id="picture_frame">
                <p>Content Marketing: Improving your messages</p>
                <img src="images/messaging.jpg" alt="Consulting" />
            </div>
            <div id="picture_frame">
                <p>Business Mentoring: Creating new leaders</p>
                <img src="images/mentoring.jpg" alt="Consulting" />
            </div>
        </div>
        
        <p style="font-size: 9px;">Copyright 2012 - Aggelos LLC. All rights reserved</p>
    </body>
</html>

